ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080

POSTGRES_DB=cmssync
POSTGRES_USER=cmsuser
POSTGRES_PASSWORD=cmspassword
POSTGRES_PORT=5432

DEFAULT_CONNECTION=Host=db;Port=5432;Database=cmssync;Username=cmsuser;Password=cmspassword
